<mat-nav-list>

    <a mat-list-item routerLink="/">
        <ng-icon name="ionBook" size="20" class="external-icon">Recipes</ng-icon>
        <span>Recipes</span>
    </a>

    <a mat-list-item routerLink="/add">
        <ng-icon name="ionAddCircle" size="20" class="external-icon">Add New Recipe</ng-icon>
        <span>Add Recipe</span>
    </a>

    <a mat-list-item routerLink="/plan">
        <ng-icon name="ionAnalytics" size="20" class="external-icon">Generate Meal Plan</ng-icon>
        <span>Generate Meal Plan</span>
    </a>

    <a mat-list-item routerLink="/suggest">
        <ng-icon name="ionReceipt" size="20" class="external-icon">Suggest a Recipe</ng-icon>
        <span>Suggest a Recipe</span>
    </a>

</mat-nav-list>
