/* top level layout and styling */
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
  font-family: Phantomsans, sans-serif;
}

.utils-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* squares to hold image and name of dish */
.square {
  width: 500px;
  height: 500px;
  position: relative;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;  transform: translateX(-50%);
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.square-image-container {
  height: 90%;
  width: inherit;
  display: flex;
  justify-content: center;
}

.square-image-container img {
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.square h2 {
  margin: 10px;
  font-size: 1.2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 8px;
}

.recipe-button {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 45%;
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.square:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.square:hover .square-content {
  background-color: rgba(0, 0, 0, 0.5);
}

.square:hover img {
  opacity: 0.7;
}

.square:hover .recipe-button {
  display: block;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 2.5rem;
    }
}

/* button styling -> too be replaced later*/
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
