<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Cook Book</title>
</head>
<body>
    <div class="contents">
        <h1 class="title">Cook Book</h1>
        <!-- Utils container (new and filter)-->
        <div class="utils-container">
            <a href="{{ url_for('new_recipe') }}" class="button-64" role="button"><span class="text">New Recipe</span></a>
        </div>
        <div class="grid">
            {% for recipe in recipes %}
                <div class="square">
                    <h2>{{ recipe.title }}</h2>
                    <div class="square-image-container" >
                        <img src="{{ url_for('static', filename=recipe.image_path.split('static/')[1]) }}" alt="{{ recipe.title }} image">
                    </div>
                    <div class="square-button-container">
                        <a href="" class="recipe-button">Recipe</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
