<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pages.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <title>Cook Book</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Cook Book</h1>
        <div class="main-content">
            <!-- sidebar -->
            <div class="sidebar">
                <!-- new recipe link -->
                <a href="{{ url_for('new_recipe') }}" class="button-sidebar">New Recipe</a>
                <!-- find best match -->
                <a href="{{ url_for('find_best_match') }}" class="button-sidebar">Find Match</a>
                <!-- filter recipes -->
                <div class="filter-container">
                    <h3>Filter Recipes</h3>
                    <div class="select-box">
                        <div class="select-box__current" tabindex="1">
                            <div class="select-box__value">
                                <input class="select-box__input" type="radio" id="all" value="all" name="tag" checked="checked">
                                <p class="select-box__input-text">Show all</p>
                            </div>
                            {% for tag in all_tags %}
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="{{ tag }}" value="{{ tag }}" name="tag">
                                    <p class="select-box__input-text">{{ tag }}</p>
                                </div>
                            {% endfor %}
                            <img class="select-box__icon" src="/static/img_295694.svg" alt="Arrow Icon" aria-hidden="true">
                        </div>
                        <ul class="select-box__list">
                            <li><label class="select-box__option" for="all" aria-hidden="true">Show all</label></li>
                            {% for tag in all_tags %}
                                <li><label class="select-box__option" for="{{ tag }}" aria-hidden="true">{{ tag }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- show all foods -->
            <div class="grid">
                {% for recipe in recipes %}
                    <a href="{{ url_for('recipe_page', recipe_id=recipe.id) }}" class="square-link">
                        <div class="square" data-tags="{{ recipe.tags }}">
                            <h2>{{ recipe.title }}</h2>
                            <div class="square-image-container">
                                <!-- find image, if not uploaded use default image -->
                                {% if recipe.image_path %}
                                    <img src="{{ url_for('static', filename=recipe.image_path.split('static/')[1]) }}" alt="{{ recipe.title }} image">
                                {% else %}
                                    <img src="{{ url_for('static', filename='default.jpg') }}" alt="{{ recipe.title }} image">
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='filtering.js') }}"></script>
</body>
</html>
