<section class="recipe-suggestions">
    <app-carousel [recipes]="suggestedRecipes"></app-carousel>
</section>

<section class="recipes-container">
  <app-search-bar [availableTags]="allTags" [recipeTitles]="recipeTitles" (search)="handleSearch($event)"></app-search-bar>

  <div class="recipe-grid">

    <mat-card class="recipe-card" *ngFor="let recipe of filteredRecipes" [routerLink]="['/recipes', recipe.id]">
      <img mat-card-image [src]="recipe.image || placeholderImage" alt="{{ recipe.title }}" />

      <mat-card-header>
        <mat-card-title>{{ recipe.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-chip-set class="tags" *ngIf="recipe.tags?.length">
          <mat-chip *ngFor="let tag of recipe.tags" color="primary">{{ tag }}</mat-chip>
        </mat-chip-set>
      </mat-card-content>

    </mat-card>

  </div>

</section>

